{{>pages/maga/header}}

<main class="content">
    {{>pages/maga/carousel}}
    <h2 class="mt-4 product-name">{{product.name}}</h2>
    
    <div class="review">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 492.892 492.892" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M232.855 19.773a15.147 15.147 0 0 1 27.167-.001l59.083 119.697a38.139 38.139 0 0 0 28.716 20.862l132.1 19.203a15.152 15.152 0 0 1 12.229 10.31 15.152 15.152 0 0 1-3.833 15.528l-95.581 93.181a38.146 38.146 0 0 0-10.969 33.756l22.553 131.547a15.14 15.14 0 0 1-6.027 14.812 15.141 15.141 0 0 1-15.951 1.153l-118.156-62.106a38.14 38.14 0 0 0-35.495.002L110.546 479.82a15.15 15.15 0 0 1-21.978-15.968l22.563-131.537a38.146 38.146 0 0 0-10.969-33.764L4.575 205.373a15.15 15.15 0 0 1 8.395-25.838l132.096-19.202a38.144 38.144 0 0 0 28.717-20.865l59.072-119.695z" fill="#fcd000" data-original="#000000" class=""></path></g></svg>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 492.892 492.892" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M232.855 19.773a15.147 15.147 0 0 1 27.167-.001l59.083 119.697a38.139 38.139 0 0 0 28.716 20.862l132.1 19.203a15.152 15.152 0 0 1 12.229 10.31 15.152 15.152 0 0 1-3.833 15.528l-95.581 93.181a38.146 38.146 0 0 0-10.969 33.756l22.553 131.547a15.14 15.14 0 0 1-6.027 14.812 15.141 15.141 0 0 1-15.951 1.153l-118.156-62.106a38.14 38.14 0 0 0-35.495.002L110.546 479.82a15.15 15.15 0 0 1-21.978-15.968l22.563-131.537a38.146 38.146 0 0 0-10.969-33.764L4.575 205.373a15.15 15.15 0 0 1 8.395-25.838l132.096-19.202a38.144 38.144 0 0 0 28.717-20.865l59.072-119.695z" fill="#fcd000" data-original="#000000" class=""></path></g></svg>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 492.892 492.892" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M232.855 19.773a15.147 15.147 0 0 1 27.167-.001l59.083 119.697a38.139 38.139 0 0 0 28.716 20.862l132.1 19.203a15.152 15.152 0 0 1 12.229 10.31 15.152 15.152 0 0 1-3.833 15.528l-95.581 93.181a38.146 38.146 0 0 0-10.969 33.756l22.553 131.547a15.14 15.14 0 0 1-6.027 14.812 15.141 15.141 0 0 1-15.951 1.153l-118.156-62.106a38.14 38.14 0 0 0-35.495.002L110.546 479.82a15.15 15.15 0 0 1-21.978-15.968l22.563-131.537a38.146 38.146 0 0 0-10.969-33.764L4.575 205.373a15.15 15.15 0 0 1 8.395-25.838l132.096-19.202a38.144 38.144 0 0 0 28.717-20.865l59.072-119.695z" fill="#fcd000" data-original="#000000" class=""></path></g></svg>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 492.892 492.892" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M232.855 19.773a15.147 15.147 0 0 1 27.167-.001l59.083 119.697a38.139 38.139 0 0 0 28.716 20.862l132.1 19.203a15.152 15.152 0 0 1 12.229 10.31 15.152 15.152 0 0 1-3.833 15.528l-95.581 93.181a38.146 38.146 0 0 0-10.969 33.756l22.553 131.547a15.14 15.14 0 0 1-6.027 14.812 15.141 15.141 0 0 1-15.951 1.153l-118.156-62.106a38.14 38.14 0 0 0-35.495.002L110.546 479.82a15.15 15.15 0 0 1-21.978-15.968l22.563-131.537a38.146 38.146 0 0 0-10.969-33.764L4.575 205.373a15.15 15.15 0 0 1 8.395-25.838l132.096-19.202a38.144 38.144 0 0 0 28.717-20.865l59.072-119.695z" fill="#fcd000" data-original="#000000" class=""></path></g></svg>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 492.892 492.892" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M232.855 19.773a15.147 15.147 0 0 1 27.167-.001l59.083 119.697a38.139 38.139 0 0 0 28.716 20.862l132.1 19.203a15.152 15.152 0 0 1 12.229 10.31 15.152 15.152 0 0 1-3.833 15.528l-95.581 93.181a38.146 38.146 0 0 0-10.969 33.756l22.553 131.547a15.14 15.14 0 0 1-6.027 14.812 15.141 15.141 0 0 1-15.951 1.153l-118.156-62.106a38.14 38.14 0 0 0-35.495.002L110.546 479.82a15.15 15.15 0 0 1-21.978-15.968l22.563-131.537a38.146 38.146 0 0 0-10.969-33.764L4.575 205.373a15.15 15.15 0 0 1 8.395-25.838l132.096-19.202a38.144 38.144 0 0 0 28.717-20.865l59.072-119.695z" fill="#fcd000" data-original="#000000" class=""></path></g></svg>
        
        <span class="review-text">4.5 (168)</span>
    </div>

    <div class="price my-3">
        <div class="current-price">{{product.value}}</div>
        <div class="sale-price">{{product.sale_value}}</div>
        <div class="promotion my-2">no PIX <span>(10% de desconto)</span></div>
        <div class="sell">Vendido e entregue por <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1987 427.2" style="enable-background:new 0 0 1987 427.2" xml:space="preserve"><path d="M549.8-80.7h-13.3c-3.8 0-6.1 2.3-6.1 6V-36c0 14.2-7.8 22.2-18.6 22.2C500.5-13.7 494-21 494-35v-39.6c0-3.7-2.3-6-6.1-6h-13.3c-3.8 0-6.1 2.3-6.1 6v41.5c0 26.4 13.9 41.3 34.7 41.3 12.5 0 22.2-4.1 29-12.5l1.1 5.2c.8 3.4 3 5.2 6.6 5.2h9.7c3.8 0 6.1-2.3 6.1-6v-74.8c.2-3.7-2.1-6-5.9-6zm-92.6 64h-23.9c-8.3 0-12.7-4.3-12.7-12.5v-45.4c0-3.7-2.3-6-6.1-6h-13.7c-3.8 0-6.1 2.3-6.1 6V-26c0 20 12.3 32.2 32.7 32.2h29.8c3.8 0 6.1-2.3 6.1-6v-10.9c0-3.8-2.3-6-6.1-6zM70.4-74.9c-.4-3.9-2.5-5.8-6.3-5.8h-10c-3.2 0-5.5 1.3-7.2 4.1L22.4-35.8-.4-76.5c-1.5-2.8-4-4.1-7.2-4.1h-10.8c-3.8 0-5.9 1.9-6.3 5.8L-31 0c-.4 4.1 1.7 6.2 5.7 6.2h12.2C-9.3 6.2-7 4.3-6.8.4l2.7-41.9 14.6 26c1.5 2.8 4 4.1 7.2 4.1H26c3.2 0 5.5-1.1 7.2-4.1l16.5-27.9L51.6.3c.2 4 2.3 5.8 6.1 5.8h13.1c4 0 6.1-2.1 5.7-6.2l-6.1-74.8zm306.7-5.8h-10.4c-3.6 0-6.1 1.9-6.6 5.4l-.6 4.3c-5.9-6.2-14.4-11.8-28.7-11.8-23.9 0-41.6 18.5-41.6 45.2 0 26.2 16.5 45.6 40 45.6 14.8 0 24.5-6.2 30.4-12.5l1 5.2c.6 3.4 2.9 5.2 6.5 5.2h10.1c3.8 0 6.1-2.3 6.1-6v-74.8c-.1-3.5-2.4-5.8-6.2-5.8zm-40.8 67c-13.5 0-22-9.2-22-23.4 0-14.4 8.9-23.7 22-23.7 13.5 0 22 9.2 22 23.4 0 14.3-8.9 23.7-22 23.7zm-62.2-67h-10.4c-3.6 0-6.1 1.9-6.6 5.4l-.6 4.3c-5.9-6.2-14.4-11.8-28.7-11.8-23.9 0-41.5 17.4-41.5 44.1 0 25.4 16.3 43.4 39.8 43.4 14.6 0 23.3-6 29.2-12.3v4.3c0 15-8.5 24.5-26.6 24.5-7.4 0-14.7-1.5-21.5-4.5-3.6-1.7-6.5-.9-8.2 2.6l-4.2 8.2c-1.7 3.4-1.1 6.2 2.1 8 10.1 5.6 22.4 7.9 34.3 7.9C261 43.4 280 24.9 280-.9v-73.8c.1-3.7-2.1-6-5.9-6zm-40.8 64.2c-13.1 0-22-8.6-22-21.9 0-14 9.3-22.4 22-22.4 13.1 0 22 7.7 22 22.1 0 12.8-9.3 22.2-22 22.2zM171-80.7h-10.4c-3.6 0-6.1 1.9-6.6 5.4l-.6 4.3c-5.9-6.2-14.4-11.8-28.6-11.8-23.9 0-41.6 18.5-41.6 45.2 0 26.2 16.5 45.6 40 45.6 14.8 0 24.5-6.2 30.4-12.5l1 5.2c.6 3.4 2.9 5.2 6.5 5.2h9.9c3.8 0 6.1-2.3 6.1-6v-74.8c0-3.5-2.3-5.8-6.1-5.8zm-40.8 67c-13.5 0-22-9.2-22-23.4 0-14.4 8.9-23.7 22-23.7 13.5 0 22 9.2 22 23.4 0 14.3-8.9 23.7-22 23.7z" style="fill:#0e87fe" transform="matrix(3.38586 0 0 3.38586 104.827 280.06)"/></svg></div>
    </div>

    <div class="card-options my-3">
        <div>
            <span>Cartão de crédito</span>
            <small>sem juros</small>
            
        </div>

        <div class="parcel">
            {{product.value}}
            <strong>10x{{product.parcel}}</strong>            
        </div>
    </div>

    <div class="frete-form">
        <svg data-testid="PinIcon" fill="primary.base" class="sc-dkrFOg vVAWW sc-eAeVAz dHArgo" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path></svg>
        <span>Calcular frete e prazo</span>
    </div>

    <div class="frete-options hide">
        <div>
            <svg data-testid="FastDeliveryIcon" viewBox="0 0 24 11" fill="background.dark" class="sc-dkrFOg gOdivS sc-fFRahO ivMyIX"><g fill-rule="evenodd"><path d="M6.333 8H.667C.3 8 0 7.775 0 7.5S.3 7 .667 7h5.666C6.7 7 7 7.225 7 7.5s-.3.5-.667.5zM6.25 6h-4.5C1.337 6 1 5.775 1 5.5s.337-.5.75-.5h4.5c.413 0 .75.225.75.5s-.337.5-.75.5zM5.333 4H3.667C3.3 4 3 3.775 3 3.5s.3-.5.667-.5h1.666C5.7 3 6 3.225 6 3.5s-.3.5-.667.5z"></path><g transform="translate(9)"><path d="M11.411 9.705c-.394 0-.715-.29-.715-.646 0-.358.32-.647.715-.647.394 0 .715.289.715.646 0 .357-.32.647-.715.647zM9.295 3.56h1.917l.92 1.941H9.294V3.56zM4.082 9.705c-.395 0-.715-.29-.715-.646 0-.358.32-.647.715-.647.394 0 .715.289.715.646 0 .357-.321.647-.715.647zm8.444-6.656c-.225-.476-.742-.784-1.314-.784H9.295v-.971C9.295.58 8.655 0 7.865 0H1.43C.64 0 0 .58 0 1.294v6.47C0 8.48.64 9.06 1.43 9.06h.507c0 1.072.96 1.941 2.145 1.941 1.184 0 2.145-.869 2.145-1.941h3.039c0 1.072.96 1.941 2.145 1.941s2.145-.869 2.145-1.941h.029c.395 0 .715-.29.715-.647V6.794l-1.774-3.745z"></path></g></g></svg>
            <div>
                <h4>Receba em até 5 dias úteis</h4>
                Após o pagamento confirmado
            </div>
            <span>Frete Grátis</span>
        </div>
    </div>

    <div class="buy-buttons">
        <a href="/product/login/{{product.id}}">
            <svg>
                <path d="M20.047 8h-8.124c-.8 0-1.423.917-1.423 2h11c0-1.083-.652-2-1.453-2zM23.311 12.736c-.059-.984-.89-1.736-1.898-1.736h-10.8c-1.008 0-1.839.752-1.898 1.736l-.712 10.268A1.9 1.9 0 0 0 9.902 25h12.193c1.098 0 1.988-.926 1.899-1.996l-.683-10.268zm-7.298 5.756c-2.403 0-4.361-1.91-4.361-4.223 0-.26.208-.463.475-.463s.474.202.474.463c0 1.822 1.513 3.268 3.383 3.268 1.869 0 3.382-1.475 3.382-3.268 0-.26.207-.463.474-.463s.475.202.475.463c.06 2.343-1.899 4.223-4.302 4.223zM5.842 21.75H.615c-.338 0-.615-.394-.615-.875S.277 20 .615 20h5.227c.338 0 .615.394.615.875s-.277.875-.615.875M6.09 18.75H2.324c-.346 0-.628-.394-.628-.875S1.978 17 2.324 17H6.09c.346 0 .628.394.628.875s-.282.875-.628.875M6.384 15.75H4.57c-.4 0-.726-.394-.726-.875S4.171 14 4.57 14h1.814c.399 0 .725.394.725.875s-.326.875-.725.875"></path>
            </svg>
            Comprar agora</a>
    </div>

    <div class="details">
        <h3>Informações do produto 
            <span>
                <svg>
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                </svg>
            </span>
        </h3>
        <p>{{product.description}}</p>
    </div>
    
</main>
{{>pages/maga/footer}}
{{>pages/maga/frete-modal}}
{{>pages/maga/loading}}
{{>pages/manutencao}}

